<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ローン計算シート</title>
<link rel="stylesheet" href="<?=CAKEPHP_URL ?>/css/loan.css">
<script src="<?= CAKEPHP_URL ?>/js/jquery-1.9.1.js"></script>
<script src="<?= CAKEPHP_URL ?>/js/loan.js"></script>
<script src="<?= CAKEPHP_URL ?>/js/run.js"></script>
<script src="<?= CAKEPHP_URL ?>/js/loan_common.js"></script>
</head>

<body>

<!-- ==================================================================================================================================================== -->
<!-- 新車 -->
<!-- ==================================================================================================================================================== -->
<div id="newcar">
<div class="header01">
<div class="header-lay">
<p class="site-id"><img src="<?= CAKEPHP_URL ?>/img/header/site-id.png" alt="Mercedes-Benz -Finance Calculation-" width="364" height="50"></p>
<ul class="nav-car01">
<li><img src="<?= CAKEPHP_URL ?>/img/header/nav-newcar_a.png" alt="新車" width="156" height="36"></li>
<li><a href="#" id="used-tab"><img src="<?= CAKEPHP_URL ?>/img/header/nav-usedcar_o.png" alt="中古車" width="156" height="36"></a></li>
</ul>
<!-- /.header01-lay --></div>
<!-- /.header01 --></div>
<div class="contents">
<div class="main-contents01">

<!-- ////////////////////新車条件入力ここから//////////////////// -->
<div id="newcar_input">
<div class="info-input01">
<table border="1" class="tbl-type02">
<col style="width:166px;">
<col style="width:365px;">
<col style="width:125px;">
<col style="width:324px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-class.png" alt="クラス" width="44" height="22"></th>
<td>
<div class="select-custom01 width03">
<div class="inner"><span>&nbsp;</span></div>
<select name="classname" id="classname">
	<option value="">▼選択してください</option>
<?php foreach($carArrs as $key=>$carArr): ?>
	<option value="<?= $carArr['Car']['classname'] ?>"><?= $carArr['Car']['qc_classname'] ?></option>
<?php endforeach; ?>
</select>
<!-- /.select-custom01 --></div>
</td>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-first-years.png" alt="車両登録年月" width="86" height="22"></th>
<td class="valign-type02">
<div class="select-custom01 width02 side-left">
<div class="inner"><span>&nbsp;</span></div>
<select name="year" id="year">
	<?php for($year=date("Y");$year<=date("Y")+5;$year++): ?>
	<option value="<?= $year ?>"><?= $year ?>(平成<?= $year-1988 ?>)年</option>
	<?php endfor; ?>
</select>
<!-- /.select-custom01 --></div>
<img src="<?= CAKEPHP_URL ?>/img/contents/txt-year01.png" alt="年" width="26" height="22" class="side-left">
<div class="select-custom01 width00 side-left">
<div class="inner"><span>&nbsp;</span></div>
<select name="month" id="month">
	<?php for($month=1;$month<=12;$month++): ?>
	<option value="<?= $month ?>"><?= $month ?>月</option>
	<?php endfor; ?>
</select>
<!-- /.select-custom01 --></div>
<img src="<?= CAKEPHP_URL ?>/img/contents/txt-month01.png" alt="月" width="26" height="22" class="side-left">【消費税率 5％】
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-model.png" alt="モデル" width="46" height="22"></th>
<td colspan="5">
<div class="select-custom01 width04">
<div class="inner"><span>&nbsp;</span></div>
<select name="modelname" id="modelname"><option>C 200 STATIONWAGON AVANTGARDE</option><option>C 200 STATIONWAGON AVANTGARDE dummy</option></select>
<!-- /.select-custom01 --></div>
</td>
</tr>
</tbody>
</table>
<!-- /.info-input01 --></div>

<div class="info-input02">
<div class="cont01">
<table border="1" class="tbl-type02">
<col style="width:166px;">
<col style="width:319px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-car-price.png" alt="車両本体価格（税込）" width="124" height="22"></th>
<td><input type="text" name="pricetax" id="pricetax" value="10,000,000" readonly class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-maker-option.png" alt="メーカーオプション（取得税課税）" width="120" height="24"></th>
<td><input type="text" name="makeroption" id="makeroption" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"><br>
<span class="caption02">※税込み金額をご入力ください【消費税率 5％】<br>
※サウンドスイートの場合は残価に算入できないためJPOSをご活用ください</span></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-store-option.png" alt="販売店オプション（取得税非課税）" width="110" height="24"></th>
<td><input type="text" name="shopoption" id="shopoption" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-discount.png" alt="値引き" width="16" height="22"></th>
<td><input type="text" name="discount" id="discount" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-price-subtotal.png" alt="現金価格小計" width="88" height="22"></th>
<td><input type="text" name="total" id="total" readonly value="10,000,000" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-tax.png" alt="税金／販売諸費用" width="116" height="22"></th>
<td><input type="text" name="sonota" id="sonota" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-car-premium.png" alt="自動車任意保険料" width="114" height="22"></th>
<td><input type="text" name="####" id="####" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-maintenance.png" alt="メンテナンスプラス" width="118" height="22"></th>
<td><input type="text" name="mmprice" id="mmprice" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-pledge.png" alt="保証プラス" width="70" height="22"></th>
<td><input type="text" name="mgprice" id="mgprice" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-pay-total.png" alt="支払金額合計" width="88" height="22"></th>
<td><input type="text" readonly value="10,000,000" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
</tbody>
</table>
<!-- /.cont01 --></div>
<div class="cont02">
<table border="1" class="tbl-type02">
<col style="width:171px;">
<col style="width:86px;">
<col style="width:131px;">
<col style="width:107px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-loan-kind.png" alt="ローン種別" width="80" height="22"></th>
<td colspan="3">
<div class="select-custom01 width03">
<div class="inner"><span>&nbsp;</span></div>
<select name="plan" id="plan">
	<? foreach($planArr as $id=>$name): ?>
	<option value="<?= $id ?>"><?= $name ?></option>
	<?php endforeach; ?>
</select>
<!-- /.select-custom01 --></div>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-pay-num.png" alt="お支払い回数" width="86" height="22"></th>
<td>
<div class="select-custom01 width01">
<div class="inner"><span>&nbsp;</span></div>
<select name="installments" id="installments"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
<!-- /.select-custom01 --></div>
</td>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-interest-rate.png" alt="金利" width="34" height="22"></th>
<td>
<div class="select-custom01 width01">
<div class="inner"><span>&nbsp;</span></div>
<select name="rate" id="rate"><option>2.9%</option><option>3.5%</option></select>
<!-- /.select-custom01 --></div>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-down-pay.png" alt="頭金／下取" width="84" height="22"></th>
<td colspan="3"><input type="text" name="downpayment" id="downpayment" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-trade-debt.png" alt="下取り車残債額" width="100" height="22"></th>
<td colspan="3"><input type="text" name="zansai" id="zansai" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-loan-capital.png" alt="ローン元金" width="84" height="22"></th>
<td colspan="3"><input type="text" name="loanprincipal" id="loanprincipal" readonly value="10,000,000" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-residual-value.png" alt="残価" width="34" height="22"></th>
<td colspan="3"><input type="text" name="lastpayment" id="lastpayment" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"><br><span class="caption01 text-type02">2,900,000円（上限） / 270,000円（下限）  残価率43%</span><br><span class="text-type02">※上限はメーカーオプションを含んだ金額です</span></td>
</tr>
</tbody>
</table>
<div class="info-input03">
<table border="1" class="tbl-type02">
<col style="width:151px;">
<col style="width:319px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-added.png" alt="ボーナス月加算" width="96" height="22"></th>
<td>
<ul class="list-radio01">
<li><label><input type="radio" name="bonus" id="bonu" value="0">有</label></li>
<li><label><input type="radio" name="bonus" id="bonu" value="1" checked>無</label></li>
</ul>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-price.png" alt="ボーナス月加算額" width="124" height="22"></th>
<td><input type="text" name="bonuspayment" id="bonuspayment" class="input-type02"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-add-limit.png" alt="加算金額上限" width="88" height="22"></th>
<td><span class="input-text01">10,000,000</span><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"><a href="#" class="btn-calc01 space-left02">上限計算</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-sum.png" alt="ボーナス月設定（夏）" width="126" height="22"></th>
<td>
<ul class="list-radio01">
<li><label><input type="radio" name="bonusmonth1" id="bonusmonth1" value="6" checked>6月</label></li>
<li><label><input type="radio" name="bonusmonth1" id="bonusmonth1" value="7">7月</label></li>
<li><label><input type="radio" name="bonusmonth1" id="bonusmonth1" value="8">8月</label></li>
</ul>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-win.png" alt="（冬）" width="32" height="22"></th>
<td>
<ul class="list-radio01">
<li><label><input type="radio" name="bonusmonth2" id="bonusmonth2" value="1">1月</label></li>
<li><label><input type="radio" name="bonusmonth2" id="bonusmonth2" value="12" checked>12月</label></li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- /.info-input03 --></div>
<!-- /.cont02 --></div>
<!-- /.info-input02 --></div>

<p class="pra-calc01"><a href="#" id="newcar_calc"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-calc01.png" alt="計算" width="300" height="50"></a></p>
<!-- /#newcar_input --></div>
<!-- ////////////////////新車条件入力ここまで//////////////////// -->

<!-- ////////////////////新車計算結果ここから//////////////////// -->
<div id="newcar_result">
<div class="blk-versatile01">
<p class="title-model01">C63 AMG COUPE ブラックシリーズ<br>Performance Studio Edition</p>
<div class="tbl-result01">
<table border="1">
<tbody>
<tr>
<th>車両本体価格<span class="sup">（消費税込み）</span></th>
<td><strong>3,350,000円</strong></td>
</tr>
<tr>
<th>支払金額合計</th>
<td>0円</td>
</tr>
<tr>
<th>頭金／下取り</th>
<td>0円</td>
</tr>
<tr>
<th>下取車残債額</th>
<td>0円</td>
</tr>
<tr>
<th>ローン元金</th>
<td>0円</td>
</tr>
<tr>
<th>プラン名</th>
<td>ウェルカムプラン</td>
</tr>
<tr>
<th>支払い回数</th>
<td>36回</td>
</tr>
<tr>
<th>金利</th>
<td>2.9%</td>
</tr>
<tr>
<th>2回目以降お支払い額</th>
<td>0円</td>
</tr>
<tr>
<th>ボーナス加算額</th>
<td>0円</td>
</tr>
<tr>
<th>残価</th>
<td>0円</td>
</tr>
<tr>
<th>ローンお支払い金額</th>
<td>0円</td>
</tr>
<tr>
<th>合計お支払い金額</th>
<td><strong>3,576,725円</strong></td>
</tr>
</tbody>
</table>
<!-- /.tbl-result01 --></div>
<ul class="list-result-btn01">
<li><a href="#" target="_blank"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-estimate01.png" alt="見積書（PDF）" width="138" height="46"></a></li>
<li><a href="#" id="newcar_proposal_open"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-proposal01.png" alt="個別提案書（PDF）" width="138" height="46"></a></li>
<li><a href="#" target="_blank"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-sheet01.png" alt="ディスプレイ用シート（PDF）" width="138" height="46"></a></li>
<li><a href="<?= CAKEPHP_URL ?>/newcar_comparing.html" target="_blank"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-comparing01.png" alt="比較見積り作成" width="138" height="46"></a></li>
</ul>
<p class="btn-back01"><a href="#" id="newcar_result_close"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-back01.png" alt="戻る" width="124" height="32"></a></p>
<!-- /.blk-versatile01 --></div>
<!-- /#newcar_result --></div>
<!-- ////////////////////新車計算結果ここまで//////////////////// -->

<!-- ////////////////////新車個別提案書（PDF）ここから//////////////////// -->
<div id="newcar_proposal">
<div class="blk-versatile02">
<p class="title-type01">個別提案書PDF出力</p>
<ul class="list-image01">
<li><a href="#"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-pdf-cmnt-no.png" alt="コメントを入力せずにPDF出力" width="546" height="46"></a></li>
<li><a href="#"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-pdf-cmnt.png" alt="コメントを反映してPDF出力" width="546" height="46"></a></li>
</ul>
<p><textarea cols="30" rows="5" class="textarea-type01"></textarea></p>
<p class="align-type03">○○文字以内</p>
<p class="btn-back01"><a href="#" id="newcar_proposal_close"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-back01.png" alt="戻る" width="124" height="32"></a></p>
<!-- /.blk-versatile02 --></div>
<!-- /#newcar_proposal --></div>
<!-- ////////////////////新車個別提案書（PDF）ここまで//////////////////// -->

<!-- /.main-contents01 --></div>
<!-- /.contents --></div>
<div class="footer01">
<p class="version">ver.2013.04.05</p>
<p class="copyright">&copy;Mercedes-Benz Finance Co., Ltd. All rights reserved.</p>
<!-- /.footer01 --></div>
<!-- /#newcar --></div>


<!-- ==================================================================================================================================================== -->
<!-- 中古車 -->
<!-- ==================================================================================================================================================== -->
<div id="usedcar">
<div class="header01">
<div class="header-lay">
<p class="site-id"><img src="<?= CAKEPHP_URL ?>/img/header/site-id.png" alt="Mercedes-Benz -Finance Calculation-" width="364" height="50"></p>
<ul class="nav-car01">
<li><a href="#" id="new-tab"><img src="<?= CAKEPHP_URL ?>/img/header/nav-newcar_o.png" alt="新車" width="156" height="36"></a></li>
<li><img src="<?= CAKEPHP_URL ?>/img/header/nav-usedcar_a.png" alt="中古車" width="156" height="36"></li>
</ul>
<!-- /.header01-lay --></div>
<!-- /.header01 --></div>

<div class="contents">
<div class="main-contents01">
<!-- 中古車条件入力ここから -->
<div id="usedcar_input">
<div class="info-input01">
<table border="1" class="tbl-type02">
<col style="width:166px;">
<col style="width:365px;">
<col style="width:125px;">
<col style="width:324px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-class.png" alt="クラス" width="44" height="22"></th>
<td>
<div class="select-custom01 width03">
<div class="inner"><span>&nbsp;</span></div>
<select name="u_classname" id="u_classname">
<option value="">▼選択してください</option>
<option value="">dummy</option>
<option value="">dummy</option>
<option value="">dummy</option>
</select>
<!-- /.select-custom01 --></div>
</td>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-first-years.png" alt="車両登録年月" width="86" height="22"></th>
<td class="valign-type02">
<div class="select-custom01 width02 side-left">
<div class="inner"><span>&nbsp;</span></div>
<select ame="u_year" id="u_year">
<option value="2013">2013(平成25)</option>
<option value="2014">2014(平成26)</option>
<option value="2015">2015(平成27)</option>
<option value="2016">2016(平成28)</option>
<option value="2017">2017(平成29)</option>
<option value="2018">2018(平成30)</option>
</select>
<!-- /.select-custom01 --></div>
<img src="<?= CAKEPHP_URL ?>/img/contents/txt-year01.png" alt="年" width="26" height="22" class="side-left">
<div class="select-custom01 width00 side-left">
<div class="inner"><span>&nbsp;</span></div>
<select name="u_month" id="u_month">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
<!-- /.select-custom01 --></div>
<img src="<?= CAKEPHP_URL ?>/img/contents/txt-month01.png" alt="月" width="26" height="22" class="side-left">【消費税率 5％】
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-model.png" alt="モデル" width="46" height="22"></th>
<td><input type="text" name="u_modelname" id="u_modelname" class="input-type05"></td>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-year-model.png" alt="年式" width="34" height="22"></th>
<td>
<div class="select-custom01 width02 side-left">
<div class="inner"><span>&nbsp;</span></div>
<select name="registyear" id="registyear">
<option value="2003">2003(平成15)</option>
<option value="2004">2004(平成16)</option>
<option value="2005">2005(平成17)</option>
<option value="2006">2006(平成18)</option>
<option value="2007">2007(平成19)</option>
<option value="2008">2008(平成20)</option>
<option value="2009">2009(平成21)</option>
<option value="2010">2010(平成22)</option>
<option value="2011">2011(平成23)</option>
<option value="2012">2012(平成24)</option>
<option value="2013">2013(平成25)</option>
</select>
<!-- /.select-custom01 --></div>
<img src="<?= CAKEPHP_URL ?>/img/contents/txt-year01.png" alt="年" width="26" height="22"></td>
</tr>
</tbody>
</table>
<!-- /.info-input01 --></div>

<div class="info-input02">
<div class="cont01">
<table border="1" class="tbl-type02">
<col style="width:166px;">
<col style="width:319px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-car-price.png" alt="車両本体価格（税込）" width="124" height="22"></th>
<td><input type="text" name="u_pricetax" id="u_pricetax" value="10,000,000" readonly class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-maker-option.png" alt="メーカーオプション（取得税課税）" width="120" height="24"></th>
<td><input type="text" name="u_makeroption" id="u_makeroption" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"><br>
<span class="caption02">※税込み金額をご入力ください【消費税率 5％】<br>
※サウンドスイートの場合は残価に算入できないためJPOSをご活用ください</span></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-store-option.png" alt="販売店オプション（取得税非課税）" width="110" height="24"></th>
<td><input type="text" name="u_shopoption" id="u_shopoption" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-discount.png" alt="値引き" width="16" height="22"></th>
<td><input type="text" name="u_discount" id="u_discount" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-price-subtotal.png" alt="現金価格小計" width="88" height="22"></th>
<td><input type="text" name="u_total" id="u_total" readonly value="10,000,000" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-tax.png" alt="税金／販売諸費用" width="116" height="22"></th>
<td><input type="text" name="u_sonota" id="u_sonota" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-car-premium.png" alt="自動車任意保険料" width="114" height="22"></th>
<td><input type="text" name="######" id="######" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-maintenance.png" alt="メンテナンスプラス" width="118" height="22"></th>
<td><input type="text" name="u_mmprice" id="u_mmprice" value="0" readonly class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-pledge.png" alt="保証プラス" width="70" height="22"></th>
<td><input type="text" name="u_mgprice" id="u_mgprice" value="0" readonly class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-pay-total.png" alt="支払金額合計" width="88" height="22"></th>
<td><input type="text" readonly value="10,000,000" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
</tbody>
</table>
<!-- /.cont01 --></div>
<div class="cont02">
<table border="1" class="tbl-type02">
<col style="width:171px;">
<col style="width:86px;">
<col style="width:131px;">
<col style="width:107px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-loan-kind.png" alt="ローン種別" width="80" height="22"></th>
<td colspan="3">
<div class="select-custom01 width03">
<div class="inner"><span>&nbsp;</span></div>
<select name="plan" id="plan">
<option value="ウェルカムプラン">ウェルカムプラン</option>
<option value="スーパーウェルカムプラン">スーパーウェルカムプラン</option>
<option value="スタンダードローン">スタンダードローン</option>
<option value="スタートアッププラン">スタートアッププラン</option>
<option value="オートリース(オープンエンド方式)">オートリース(オープンエンド方式)</option>
<option value="オートリース(クローズエンド方式)">オートリース(クローズエンド方式)</option>
</select>
<!-- /.select-custom01 --></div>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-pay-num.png" alt="お支払い回数" width="86" height="22"></th>
<td>
<div class="select-custom01 width01">
<div class="inner"><span>&nbsp;</span></div>
<select name="u_installments" id="u_installments"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
<!-- /.select-custom01 --></div>
</td>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-interest-rate.png" alt="金利" width="34" height="22"></th>
<td>
<div class="select-custom01 width01">
<div class="inner"><span>&nbsp;</span></div>
<select name="u_rate" id="u_rate"><option>2.9%</option><option>3.5%</option></select>
<!-- /.select-custom01 --></div>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-down-pay.png" alt="頭金／下取" width="84" height="22"></th>
<td colspan="3"><input type="text" name="u_downpayment" id="u_downpayment" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-trade-debt.png" alt="下取り車残債額" width="100" height="22"></th>
<td colspan="3"><input type="text" name="u_zansai" id="u_zansai" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-loan-capital.png" alt="ローン元金" width="84" height="22"></th>
<td colspan="3"><input type="text" name="u_loanprincipal" id="u_loanprincipal" readonly value="10,000,000" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-residual-value.png" alt="残価" width="34" height="22"></th>
<td colspan="3"><input type="text" name="u_lastpayment" id="u_lastpayment" class="input-type04"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"><br><span class="caption01 text-type02">2,900,000円（上限） / 270,000円（下限）  残価率43%</span><br><span class="text-type02">※上限はメーカーオプションを含んだ金額です</span></td>
</tr>
</tbody>
</table>
<div class="info-input03">
<table border="1" class="tbl-type02">
<col style="width:151px;">
<col style="width:319px;">
<tbody>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-added.png" alt="ボーナス月加算" width="96" height="22"></th>
<td>
<ul class="list-radio01">
<li><label><input type="radio" name="u_bonus" id="u_bonu" value="0">有</label></li>
<li><label><input type="radio" name="u_bonus" id="u_bonu" value="1" checked>無</label></li>
</ul>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-price.png" alt="ボーナス月加算額" width="124" height="22"></th>
<td><input type="text" name="u_bonuspayment" id="u_bonuspayment" class="input-type02"><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"></td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-add-limit.png" alt="加算金額上限" width="88" height="22"></th>
<td><span class="input-text01">10,000,000</span><img src="<?= CAKEPHP_URL ?>/img/contents/txt-yen01.png" alt="円" width="26" height="22"><a href="#" class="btn-calc01 space-left02">上限計算</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-sum.png" alt="ボーナス月設定（夏）" width="126" height="22"></th>
<td>
<ul class="list-radio01">
<li><label><input type="radio" name="u_bonusmonth1" id="u_bonusmonth1" value="6" checked>6月</label></li>
<li><label><input type="radio" name="u_bonusmonth1" id="u_bonusmonth1" value="7">7月</label></li>
<li><label><input type="radio" name="u_bonusmonth1" id="u_bonusmonth1" value="8">8月</label></li>
</ul>
</td>
</tr>
<tr>
<th><img src="<?= CAKEPHP_URL ?>/img/contents/term-bonus-win.png" alt="（冬）" width="32" height="22"></th>
<td>
<ul class="list-radio01">
<li><label><input type="radio" name="u_bonusmonth2" id="u_bonusmonth2" value="1">1月</label></li>
<li><label><input type="radio" name="u_bonusmonth2" id="bonusmonth2" value="12" checked>12月</label></li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- /.info-input03 --></div>
<!-- /.cont02 --></div>
<!-- /.info-input02 --></div>
<p class="pra-calc01"><a href="#" id="usedcar_calc"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-calc01.png" alt="計算" width="300" height="50"></a></p>

<!-- /#usedcar_input --></div>
<!-- 中古車条件入力ここまで -->

<!-- ////////////////////中古車計算結果ここから//////////////////// -->
<div id="usedcar_result">
<div class="blk-versatile01">
<p class="title-model01">C63 AMG COUPE ブラックシリーズ<br>Performance Studio Edition</p>
<div class="tbl-result01">
<table border="1">
<tbody>
<tr>
<th>車両本体価格<span class="sup">（消費税込み）</span></th>
<td><strong>3,350,000円</strong></td>
</tr>
<tr>
<th>支払金額合計</th>
<td>0円</td>
</tr>
<tr>
<th>頭金／下取り</th>
<td>0円</td>
</tr>
<tr>
<th>下取車残債額</th>
<td>0円</td>
</tr>
<tr>
<th>ローン元金</th>
<td>0円</td>
</tr>
<tr>
<th>プラン名</th>
<td>ウェルカムプラン</td>
</tr>
<tr>
<th>支払い回数</th>
<td>36回</td>
</tr>
<tr>
<th>金利</th>
<td>2.9%</td>
</tr>
<tr>
<th>2回目以降お支払い額</th>
<td>0円</td>
</tr>
<tr>
<th>ボーナス加算額</th>
<td>0円</td>
</tr>
<tr>
<th>残価</th>
<td>0円</td>
</tr>
<tr>
<th>ローンお支払い金額</th>
<td>0円</td>
</tr>
<tr>
<th>合計お支払い金額</th>
<td><strong>3,576,725円</strong></td>
</tr>
</tbody>
</table>
<!-- /.tbl-result01 --></div>
<ul class="list-result-btn01">
<li><a href="#" target="_blank"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-estimate01.png" alt="見積書（PDF）" width="138" height="46"></a></li>
<li><a href="#" target="_blank"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-sheet01.png" alt="ディスプレイ用シート（PDF）" width="138" height="46"></a></li>
<li><a href="<?= CAKEPHP_URL ?>/usedcar_comparing.html" target="_blank"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-comparing01.png" alt="比較見積り作成" width="138" height="46"></a></li>
</ul>
<p class="btn-back01"><a href="#" id="usedcar_result_close"><img src="<?= CAKEPHP_URL ?>/img/contents/btn-back01.png" alt="戻る" width="124" height="32"></a></p>
<!-- /.blk-versatile01 --></div>
<!-- /#usedcar_result --></div>
<!-- ////////////////////中古車計算結果ここまで//////////////////// -->

<!-- /.main-contents01 --></div>
<!-- /.contents --></div>

<div class="footer01">
<p class="version">ver.2013.04.05</p>
<p class="copyright">&copy;Mercedes-Benz Finance Co., Ltd. All rights reserved.</p>
<!-- /.footer01 --></div>
<!-- /#usedcar --></div>

<script>
	uiInit();
	logicInit();
</script>
</body>
</html>
